<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security secured-annotations="enabled"/>

    <http pattern="/user/login" auto-config="true">
        <custom-filter ref="loginPageFilter" position="PRE_AUTH_FILTER"/>
    </http>

    <http>
        <intercept-url pattern="/admin/add-admin" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/admin/update-admin/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/admin/delete/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/admin/delete-my-account/*" access="isFullyAuthenticated()"/>
        <intercept-url pattern="/admin*" access="hasAuthority('ADMIN')"/>

        <intercept-url pattern="/products/add" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/products/update/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/products/delete/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/products" access="permitAll()"/>

        <intercept-url pattern="/categories/add" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/categories/update/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/categories/delete/*" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/categories" access="permitAll()"/>

        <form-login login-page="/user/login"
                    authentication-success-handler-ref="authenticationSuccessHandler"
                    login-processing-url="/login"
                    username-parameter="email"
                    password-parameter="password"
                    authentication-failure-url="/user/login?error=Invalid+username+or+password"/>
        <logout logout-url="/logout"
                success-handler-ref="logoutRequestSuccessHandler"/>
        <csrf disabled="true"/>
        <session-management session-authentication-strategy-ref="sessionAuthenticationStrategy"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userServiceImpl">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean name="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <beans:bean id="sessionAuthenticationStrategy"
                class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
        <beans:constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
        <beans:property name="maximumSessions" value="1"/>
    </beans:bean>

    <beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl"/>

</beans:beans>